
body {
    background: white;
    font-size: 1.5em;
    font-family: sans-serif;
    margin-bottom: 10vw;
    clear: both;
}

div.menu a{
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 2vw;
}

div.menu a:hover {
    background-color: blue;
    color: white;
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    border-radius: 20px;
    width: 50%;
    padding: 2vw;
}

h1{
    color: blue;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightsteelblue;
}

li{
    text-align: left;
}

main{
    margin-bottom: 15vw;
}

p{
    font-family: Georgia, sans-serif;
    font-size: 1.75vw;
    color: black;
    text-align: justify;
    padding: 2vw 3vw 0 3vw;
}

textarea{
    width: 100%;
    max-width: 100%;
    min-height: 150px;
}

.blue-box{
    border:5px solid blue;
    background-color: white;
    display: flex;
    align-items: center;
}

.box{
    float: left;
    width: 23%;
    padding: 0 10px;
    margin-left: 10px;
    display: table-row;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: lightsteelblue;
    border-radius: 20px;
    display: table-cell;
}

.card h2{
    font-size: 1vw;
    font-family: Verdana, sans-serif;
    background-color:blue;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.divCheck {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px
}

.card p{
    font-size: 1vw;
    color: black;
    text-align: justify;
    padding:0 0.5vw 1vw 0.5vw;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column{
    float: left;
    padding: 2vw;
}

.container {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Style the checkmark/indicator */
.container .radio:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: lightgray;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: blue;
}

.footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: lightsteelblue;
}

.footer p {
    display: inline-flex;
    font-size: 1vw;
    text-align: left;
    margin-left: 1vw;
    color: blue;
}

.img-left{
    float: left;
}

.img-logo{
    width:150px;
    height: 111px;
}

.img-ov{
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
}

.img-ov:hover{
    opacity: 0.5;
}

.img-right{
    float: right;
    padding: 2vw;
}

.input-left{
    width: 47%;
    float: left;
    background: transparent;
    padding-left: 0;
}

.input-right{
    width: 47%;
    float: right;
    background: transparent;
    padding-right: 0;
}

.left{
    width:25%;
}

.menu{
    margin-left: 30vw;
    background-color: white;
}

.radio{
    border-radius: 50%;
}

.req{
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
}

.right{
    width:65%;
}

.row {
    margin: 0 -5px;
    display: table-cell;
}

.shadow{
    text-shadow: 0 0.3vw 0.4vw black;
    font-size: 2vw;
    margin-left: 1vw;
}

@media screen and (max-width: 360px) {
    .menu{
        margin-left: 20vw;
    }

    .left{
        width:100%;
    }
}

@media screen and (max-width: 640px) {
    .box {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
    }

    .img-right{
        float: right;
        padding: 2vw;
        max-width:30%;
        max-height:30%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        margin-right: 1vw;
    }

    .box {
        width: 59%;
        display: block;
        margin-bottom: 20px;
        margin-right: 15vw;
        margin-left: 15vw;
    }

    .img-right{
        float: right;
        padding: 2vw;
        max-width:50%;
        max-height:50%;
    }

    .left{
        width:0;
    }

    .right{
        width:90%;
    }

    .input-left{
        width:100%;
    }

    .input-right{
        width:100%;
    }


    form{
        width: 90%;
        padding: 2vw;
        margin-left: 2vw;
    }

    .container{
        display: block;
    }
    main{
        margin-bottom: 35vw;
    }

    .menu{
        margin-left: 20vw;
    }
}